/*
!.*
!README
!README.md
!CLAUDE.md
!git/
!zsh/
!claude/
!vault/

# Ignore tmp and swap files
*~
*.swp

.cups/
.CFUserTextEncoding
.DS_Store
.Trash/
.dropbox/
.lesshst
.viminfo
.vim/tmp
.ssh/
.bash_history
.Xauthority
.fontconfig/
.ipython/
.matlab/
.pip/
.serverauth*
.vim/.netrwhist
.subversion/
